.bar{
margin-top: 50px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.video{
	width:inherit ;
}
.videocontent{
	width:200% ;
}
#index-banner{
	background-image: url(background.svg);
    background-repeat-x: no-repeat;
    background-position: center;
}
#index-recruiter{

}
.logo{
font-family: 'Supermercado One', cursive;
color:#001f3f;	
font-size: 34px;
}
.sign{
	font-family: 'Catamaran', sans-serif;
	font-size: 20px;
    border-radius: 10px;
    color: black;
}
.result{
	font-family: 'Slabo 27px', serif;
	font-size: 20px;
}
.job{
	background-color: white;
}
.form{
	margin: 0px !important;
}